@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1677317569302') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\f0178";
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-laba:before {
  content: "\f01f4";
}

.icon-11:before {
  content: "\e60a";
}

.icon-gouwuche:before {
  content: "\e60b";
}

.icon-mianbaoxie:before {
  content: "\e676";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-shoujitubiao:before {
  content: "\e61c";
}

.icon-dianzan:before {
  content: "\e791";
}

